---
layout: default
title: experience
---

<div class="compress">
  <ol class="experienceGroup">
    {% for experience in site.experiences %}
    <li class="mb-6 reveal-animate-2">
      {% include experience.html %}
    </li>
    {% endfor %}
  </ol>
</div>


<div class="reveal-animate d-flex flex-row align-items-center mt-3">
    <a class="navigate-link" href="/">
        <svg class="HoverArrow2" width="10" height="10" aria-hidden="true"><g fill-rule="evenodd"><path class="HoverArrow__linePath2" d="M2 5h7"/><path class="HoverArrow__tipPath2" d="m 8 1 l -4 4 l 4 4"/></g></svg> 
        01
      </a>  
    <span class="px-3">•</span>
    <a class="navigate-link" href="/projects">
        03
        <svg class="HoverArrow" width="10" height="10" aria-hidden="true"><g fill-rule="evenodd"><path class="HoverArrow__linePath" d="M0 5h7"/><path class="HoverArrow__tipPath" d="m1 1 4 4-4 4"/></g></svg> 
      </a>  
</div>
