<div class=" pb-1">
    <div
        class="absolute hidden rounded-md"
    ></div>
    <header class="z-10 mb-2 mt-1" aria-label="{{experience.timeStart}} to {{experience.timeEnd}}">
        {{experience.timeStart}}
        — 
        {{experience.timeEnd}}
    </header>
    <div class="">
        <h3 class="">
            <div>
                <a
                    class=""
                    href="{{experience.link}}"
                    target="_blank"
                    rel="noreferrer"
                    aria-label=" {{experience.position}}"
                >
                    <span>
                        {{experience.position}}
                        ·<!-- -->
                        <span class="d-inline-block">
                            {{experience.company}}
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="d-inline-block h-4 w-4"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </h3>
        <p class="mt-2">
            {{experience.description}}
        </p>
        <ul class="mt-2 d-flex flex-row flex-wrap" aria-label="Technologies used">
            {% for skill in experience.skills -%}
                <li class="mr-1.5 mt-2"><div class="d-flex flex-row align-items-center rounded bg-aqua px-3 py-1 me-2 skillColor" style="--bs-bg-opacity: .5;">{{skill}}</div></li>
            {% endfor %}
        </ul>
    </div>
</div>

